/* .profile{
    display: flex;
} */

.profile-wrapper{
    padding: 20px;
}

.profile-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-title-update{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;
}

.profile-title-delete{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.profile-form{
    display: flex;
    flex-direction: column;
}

.setting-pp{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.setting-pp >img{
    height: 70px;
    width: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.setting-pp-icon{
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-self: center;
    border:none;
    border-radius: 50%;
    margin-left: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
}

.setting-pp-input{
    width: 30%;
}

.profile-form >label{
    font-size: 20px;
    margin-top: 20px;
}

.profile-form>input{
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.btn-submit{
    align-self: center;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover{
    background-color: rgb(38, 145, 134);
}