.post{
    margin-top: 20px;
}
.post-category{
    font-weight: 400;
    font-size: 11px;
    color: #be9565;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}
